{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans mon blog !</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto qui error temporibus odio? Quod eligendi non at laudantium quae vel iusto facilis esse. Cum possimus adipisci tempore debitis, voluptates veniam obcaecati rem magnam eaque. Accusamus minima suscipit ad odit iusto!</p>
    <p>Provident dolores dolorum nesciunt facilis ab accusantium eius pariatur dignissimos qui hic aspernatur nam, ad voluptatem sequi placeat totam. Delectus cum possimus doloribus nostrum excepturi sequi eaque quasi necessitatibus? Quo quae perferendis voluptatum rem incidunt modi nobis illum vero deserunt?</p>
{% endblock %}